.footer {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h2 {
    color: #ffa500;
    border-bottom: 2px solid #ffa500;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    flex-basis: 100%;
  }
  
  .footer-section ul li a .fab {
    margin: 0 5px;
  }
  
  .footer-section ul li a .fab:hover {
    color: #ffa500;
  }